@import 'styles/variables.scss';
@import 'styles/mixins.scss';

.about{
    @include max-width;
    margin-bottom: $marginBottom;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .image{
        width: 47rem;
        height: 43rem;
        position: relative;

        .box{
            position: absolute;
            top: -7rem;
            left: -1rem;
        }
    }
    
}

.content{
    width: 100%;
    max-width: 60rem;

    a {
        margin-top: 1.5rem;
    }

    h1{
        color: black;
    }
}
